
<div class="shift-box">
  <h3 class="center">{{this.shiftName}}</h3>
  <p class="center">{{this.workedCount}}/{{this.staffCount}}</p>
  <p class = "center">
    Starts in: {{moment-from-now shift.start_time}}
    <br>
    Ends in: {{moment-from-now shift.end_time}}
  </p>
</div>
